@model Animal
@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar Datos Animal</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Actualizar" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label><br />
                <input type="text" name="nombre" title="nombre" value="@Model.Nombre" />
            </div>
            <div class="form-group">
                <label for="especie">Especie</label><br />
                <input type="text" name="especie" title="especie" value="@Model.Especie" />
            </div>
            <div class="form-group">
                <label for="raza">Raza</label><br />
                <input type="text" name="raza" title="raza" value="@Model.Raza" />
            </div>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select name="sexo" title="sexo">
                    @* VER COMO MOSTRAR "ACTIVA" LA OPCION CORRESPONDIENTE AL VALOR GUARDADO *@
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label><br />
                <input type="date" name="fechaNacimiento" title="fechaNacimiento" value="@Model.FechaNacimiento" />
            </div>
            <div class="form-group">
                <label for="edad">Edad</label><br />
                <input type="number" name="edad" title="edad" value="@Model.Edad" />
                @* VER COMO MOSTRAR "ACTIVO" EL RADIO CORRESPONDIENTE AL VALOR GUARDADO *@
                <input type="radio" name="mesesAños" value="año/s" />
                <label class="mesesAños">años</label>
                <input type="radio" name="mesesAños" value="mes/es" />
                <label class="mesesAños">meses</label>
            </div>
            <div class="form-group">
                <label for="peso">Peso</label><br />
                <input type="number" name="peso" title="peso" value="@Model.Peso" /> <label for="peso">kg</label>
            </div>
            <input type="submit" value="Enviar" />
        </form>
    </div>
</div>
