@model Animal
@{
    ViewData["Title"] = "Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar Datos de @Model.Nombre</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="number" name="id" value="@Model.ID" hidden />
            <div class="form-group">
                <label asp-for="Nombre"></label><br />
                <input type="text" name="nombre" title="nombre" value="@Model.Nombre" />
            </div>
            <div class="form-group">
                <label asp-for="Especie"></label><br />
                <input type="text" name="especie" title="especie" value="@Model.Especie" />
            </div>
            <div class="form-group">
                <label asp-for="Raza"></label><br />
                <input type="text" name="raza" title="raza" value="@Model.Raza" />
            </div>
            <div class="form-group">
                <label asp-for="Sexo"></label>
                <select name="sexo" title="sexo">
                    @if (Model.Sexo == "Hembra")
                    {
                        <option value="Hembra" selected>Hembra</option>
                        <option value="Macho">Macho</option>
                    }
                    else
                    {
                        <option value="Hembra">Hembra</option>
                        <option value="Macho" selected>Macho</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="FechaNacimiento"></label><br />
                <input type="date" name="fechaNacimiento" title="fechaNacimiento" asp-for="FechaNacimiento" />
            </div>
            @if (Model.Archivado)
            {
                <div class="form-group">
                    <label asp-for="FechaFalle"></label><br />
                    <input type="date" name="fechaFalle" title="fechaFalle" asp-for="FechaFalle" />
                </div>
            }

            <div class="form-group">
                <label for="edad">Edad</label><br />
                <input type="number" name="edad" title="edad" value="@Model.Edad" />
                @if (Model.MesesAños == "años")
                {
                    <input type="radio" name="mesesAños" value="años" checked />
                    <label class="mesesAños">años</label>
                    <input type="radio" name="mesesAños" value="meses" />
                    <label class="mesesAños">meses</label>
                }
                else
                {
                    <input type="radio" name="mesesAños" value="años" />
                    <label class="mesesAños">años</label>
                    <input type="radio" name="mesesAños" value="meses" checked />
                    <label class="mesesAños">meses</label>
                }
            </div>
            <div class="form-group">
                <label for="peso">Peso</label><br />
                <input type="number" name="peso" title="peso" value="@Model.Peso" /> <label for="peso">kg</label>
            </div>
            <input type="submit" value="Cancelar" asp-controller="Animales" asp-action="Direccionar" />
            <input type="submit" value="Guardar" class="btn-primary" asp-controller="Animales" asp-action="Actualizar" />
        </form>
    </div>
</div>
