@model List<Animal>

@{
    ViewData["Title"] = "Archivo Animales";
}

<div class="text-center">
    <h1 class="display-4">Archivo</h1>
    <a asp-action="Index">Volver al Inicio</a>
</div>

<table class="table caption-top table-striped table-hover align-middle text-center">
    <caption>Archivo de Animales</caption>
    <thead class="table-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Especie</th>
            <th scope="col">Raza</th>
            <th scope="col">Sexo</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Fecha de Fallecimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Peso (kg)</th>
            @*<th scope="col">Propietario</th>*@
            <th><img src="~/images/Material icons/edit_black_24dp.svg" alt="Editar" title="Editar"></th>
            <th><img src="~/images/Material icons/unarchive_black_24dp.svg" alt="Desarchivar" title="Desarchivar"></th>
            <th><img src="~/images/Material icons/delete_black_24dp.svg" alt="Eliminar" title="Eliminar"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr asp-controller="Animales" asp-action="Editar" asp-route-id="@item.ID">
                <td>@item.Nombre</td>
                <td>@item.Especie</td>
                <td>@item.Raza</td>
                <td>@item.Sexo</td>
                <td>@item.FechaNacimiento.ToShortDateString()</td>
                <td>@item.FechaFalle.ToShortDateString()</td>
                <td>@item.Edad @item.MesesAños</td>
                <td>@item.Peso</td>
                <td><a asp-controller="Animales" asp-action="Editar" asp-route-id="@item.ID" title="Editar">Editar</a></td>
                <td><a asp-controller="Animales" asp-action="Desarchivar" asp-route-id="@item.ID" class="text-success desarchivado" title="Desarchivar">Desarchivar</a>
                <td><a asp-controller="Animales" asp-action="Eliminar" asp-route-id="@item.ID" class="text-danger" title="Eliminar">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="position-absolute bottom-0 left-0 pb-5 mb-5 align-items-center" style="z-index: 11">
    <div id="desarchivadoToast" role="status" aria-live="polite" aria-atomic="true" class="toast hide bg-dark text-white">
        <div class="d-flex">
            <div class="toast-body">
                Elemento desarchivado.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>